.main__about {
    padding-top: 60px;
    @include breakpoint (tablet) {
        padding-top: 70px;
    }
    @include breakpoint (mobile) {
        padding-top: 60px;
    }
}

.about {
    font-style: normal;
}

.about__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.about__text-container {
    display: grid;
    grid-template: repeat(2, auto) / auto;
    row-gap: 20px;
    @include breakpoint (tablet) {
        row-gap: 0px;
    }
    @include breakpoint (mobile) {
        row-gap: 10px;
    }
}

.about__title {
    font-size: 112px;
    line-height: 112px;
    @include breakpoint (tablet) {
        font-size: 70px;
        line-height: 90px;
    }
    @include breakpoint (mobile) {
        font-size: 50px;
        line-height: 60px;
    }
}

.about__subtitle {
    font-size: 80px;
    line-height: 70px;
    @include breakpoint (tablet) {
        font-size: 50px;
        line-height: 60px;
    }
    @include breakpoint (mobile) {
        font-size: 30px;
        line-height: 38px;
    }
}

.about__input-container {
    margin-top: 230px;
    display: flex;
    margin-bottom: 12px;
    @include breakpoint (tablet) {
        margin-top: 470px;
        margin-bottom: 10px;
    }
    @include breakpoint (mobile) {
        margin-top: 260px;
    }
}

.about__input {
    width: calc(348px - 16px);
    height: 50px;
    background-color: $input-color;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    color: $white_text-color;
    padding-left: 16px;
    @include breakpoint (tablet) {
        width: calc(427px - 16px);
    }
    @include breakpoint (mobile) {
        width: calc(229px - 16px);
    }
}

.about__button {
    width: 221px;
    height: 50px;
    background-color: $grey_input-color;
    color: $white_text-color;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.38px;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    @include breakpoint (mobile) {
        width: 51px;
    }
}

.about__input-info {
    color: $grey_input-color;
    font-size: 12px;
    line-height: 18px;
}

.about__span-dekstop {
    @include breakpoint (mobile) {
        display: none;
    }
}