.main__services {
    padding-top: 60px;
    @include breakpoint (mobile) {
        padding-top: 40px;  
    }
}

.services__container {
    margin: 0 auto;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    column-gap: 20px;
    @include breakpoint (tablet) {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        column-gap: 0px;
        row-gap: 20px;
    }
}

.services__card {
    width: 550px;
    height: 364px;
    background-color: $services-color;
    border-radius: 16px;
    position: relative;
    @include breakpoint (tablet) {
        width: 648px;
    }
    @include breakpoint (mobile) {
        width: 280px;
        height: 282px;
    }
}

.services__card:hover {
    background-color: $input-hover-color;
}

.services__card-container {
    display: flex;
    flex-direction: column;
    margin: 40px auto 40px 40px;
    @include breakpoint (mobile) {
        margin: 20px auto 20px 20px;   
    }
}

.services__card-title {
    margin-bottom: 20px;
    color: $grey_text-color;
    font-size: 18px;
    line-height: 18px;
    @include breakpoint (mobile) {
        margin-bottom: 10px;
    }
}

.services__card-name {
    margin-bottom: 40px;
    color: $white_text-color;
    font-size: 32px;
    line-height: 32px;
    @include breakpoint (mobile) {
        font-size: 24px;
        margin-bottom: 28px;
    }
}

.services__card-text {
    max-width: 470px;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 40px;
    color: $grey_text-color;
    @include breakpoint (tablet) {
        max-width: 568px;
    }
    @include breakpoint (mobile) {
        font-size: 12px;
        line-height: 18px;
        max-width: 240px;
        margin-bottom: 100px;
    }
}

.services__card-price {
    color: $green-color;
    font-size: 14px;
    line-height: 14px;
    @include breakpoint (mobile) {
        font-size: 12px;
        line-height: 18px;
    }
}

.services__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}