.main__warranty {
    padding-top: 60px;
    @include breakpoint (mobile) {
        padding-top: 30px;
    }
}

.warranty__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.warranty__title {
    margin-top: 60px;
    font-size: 32px;
    line-height: 40px;
    @include breakpoint (tablet) {
        font-size: 20px;
        line-height: 30px;
    }
    @include breakpoint (mobile) {
        margin-top: 40px;
        font-size: 12px;
        line-height: 18px;
    }
}

.warranty__cards {
    margin-top: 60px;
    display: grid;
    grid-template: auto / repeat(4, auto);
    column-gap: 20px;
    @include breakpoint (tablet) {
        grid-template: repeat(2, auto) / repeat(2, auto);
        row-gap: 20px;
    }
    @include breakpoint (mobile) {
        grid-template: repeat(4, auto) / auto;
        margin-top: 40px;
    }
}

.warranty__card {
    width: 265px;
    height: 153px;
    background-color: $services-color;
    border-radius: 10px;
    position: relative;
    @include breakpoint (tablet) {
        width: 314px;
    }
    @include breakpoint (mobile) {
        width: 280px;
        height: 148px;
    }
}

.warranty__card:hover {
    background-color: $input-hover-color;
}

.warranty__card-container {
    margin: 20px 20px 20px 20px;
}

.warranty__card-title {
    font-weight: 500;
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 18px;
}

.warranty__card-text {
    font-size: 15px;
    line-height: 19px;
    color: $grey_text-color;
    @include breakpoint (mobile) {
        font-size: 12px;
        line-height: 18px;
    }
}

.warranty__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}